<div>
	<div style="display: block">
	  <canvas baseChart
			  [datasets]="barChartData"
			  [labels]="barChartLabels"
			  [options]="barChartOptions"
			  [legend]="barChartLegend"
			  [chartType]="barChartType">
	  </canvas>
	</div>
  </div>

<div class="container">
 <table class="table table-striped table-bordered row-border hover">
  <thead>
    <tr>
            <th style="font-size: 16px;color: rgb(35, 56, 75);">Restaurant Name</th>
            <th style="font-size: 16px;color: rgb(35, 56, 75);">Total Hit Count</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let r of rest">
      <tr>
      <td style="font-size: 14px;color: rgb(35, 56, 75);">{{r.restname}}</td>
      <td style="font-size: 14px;color: rgb(35, 56, 75);">{{r.visitCount}}</td>
    </tr>
    </ng-container>
  </tbody>
</table>
</div>




