<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="../../../assets/ZonionsLogo.jpg" class="profile-img-card" width="100" height="100" />
    <!-- Select Language:
    <select (change)="useLang($event.target.value)">
      <option *ngFor="let item of supportLanguages" [value]="item">{{item}}</option>
    </select> -->
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">{{'Username' | translate}}</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
          #username="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
          {{'Username is required' | translate}}
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{'Password' |translate}}</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">{{'Password is required' |translate}}</div>
          <div *ngIf="password.errors.minlength">
            {{'Password must be at least 6 characters' |translate}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          {{'Login' | translate}}
        </button>
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
          {{'Login failed' |translate}} {{ errorMessage }}
        </div>
      </div>
    </form>
    <div class="container" *ngIf="isLoggedIn">Welcome To Restaurant Web Application.</div>
  </div>
</div>