<div class="panel-heading">
  <h2>&nbsp;&nbsp;&nbsp;Active Restaurants</h2>
</div>
<div class="card">
  <div class="card-body">
    <div class="panel panel-primary">

      <div class="panel-body">
        <kt-portlet>

          <br>
          <div class="search-div">
            <mat-form-field class="search-form-field">
              <input matInput [(ngModel)]="searchKey" placeholder="Search Restaurant" autocomplete="off"
                (keyup)="applyFilter()">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
                (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="restname">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 16px;color: rgb(35, 56, 75);">
                  Restaurant Name </mat-header-cell>
                <mat-cell *matCellDef="let element" style="font:bolder;font-size: 14px;color: rgb(35, 56, 75);">
                  {{element.restname}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="restaddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 16px;color: rgb(35, 56, 75);">
                  Restaurant Address </mat-header-cell>
                <mat-cell *matCellDef="let element" style="font:bolder;font-size: 14px;color: rgb(35, 56, 75);">
                  {{element.restaddress}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="restphone">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 16px;color: rgb(35, 56, 75);">
                  Contact </mat-header-cell>
                <mat-cell *matCellDef="let element" style="font:bolder;font-size: 14px;color: rgb(35, 56, 75);">
                  {{element.restphone}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef style="font-size: 16px;color: rgb(35, 56, 75);">Actions
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button (click)="restaurantDetails(element.restid)" class="btn btn-outline-dark">More
                    Details</button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[3,6,9]" [pageSize]="3" showFirstLastButtons></mat-paginator>
          </div>
        </kt-portlet>
      </div>
    </div>
  </div>
</div>