<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Restaurant Details</h2>&nbsp;&nbsp;&nbsp;<div *ngIf="!timeCounter" style="color: green;"><b>Restaurant Open</b>
    </div>
    <div *ngIf="timeCounter" style="color:red;"><b>Restaurant Closed</b></div>&nbsp;&nbsp;&nbsp;
    <div *ngIf="Dining"  ><i class="fas fa-check"></i>&nbsp;Dine-in</div>
    <div *ngIf="TakeAWay" ><i class="fas fa-check"></i>&nbsp;Takeaway</div>
    <div *ngIf="HomeDelivery" ><i class="fas fa-check"></i>&nbsp;Home delivery</div>
    <!----------------------------Here Display the Restaurant details on Homepage for all users ----------------------->
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr class="danger">
          <th>Restaurant Name</th>
          <th>Restaurant Address</th>
          <th>Restaurant Contact Number</th>
          <th>Restaurant Open Time</th>
          <th>Restaurant Close Time</th>
          <th>Restaurant Menu</th>
        </tr>
      </thead>
      <tbody>
        <td>{{restaurant.restname}}</td>
        <td>{{restaurant.restaddress}}</td>
        <td>{{restaurant.restphone}}</td>
        <td>{{restaurant.openTime | conversionTime}}</td>
        <td>{{restaurant.closeTime | conversionTime}}</td>
        <td><img [src]="imagePath" style="height: 350px; width: 350px;"></td>
      </tbody>
    </table>
    <form [formGroup]="imageForm" (ngSubmit)="saveImage(imageForm.value)">
      <b><label>Choose Menu</label></b>

      <mat-select formControlName="menu" placeholder="Select which type of menu you want..">

        <!-- <mat-option>-- Select --</mat-option>
        <mat-option value="italian">Italian</mat-option>
        <mat-option value="chinese">Chinese</mat-option>
        <mat-option value="continental">Continential</mat-option> -->
        <mat-option>-- Select --</mat-option>
                <mat-option  *ngFor="let menu of menuArray" [value]="menu">
                    <label for="">{{menu | uppercase}}</label>
                </mat-option>

      </mat-select>
      <br>
      <br>
      <button class="btn btn-outline-dark">Get Menu</button>
    </form>
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-outline-dark">Back to Restaurant List</button><br><br>
<a href="/restaurants/booktable"><button class="btn btn-dark btn-block">Book Table</button></a>