<h3 style="text-align: center;">Update Restaurant</h3>
<div class="container">
    <!-- <form #Registerform="ngForm" (ngSubmit)="onSubmit()"> -->
    <form #Registerform="ngForm">

        <div class="form-group">

            <label for="restName"> Restaurant name<span style="color:red">*</span></label>
            <input type="text" class="form-control" placeholder="Enter Restaurant name" name="restName"
                [(ngModel)]="restaurant.restName" required pattern="^[a-zA-Z ]*$" required #restName="ngModel"
                [class.is-invalid]="restName.invalid && restName.touched">
            <div *ngIf="restName.errors && restName.invalid && restName.touched">
                <small class="text-danger" *ngIf="restName.errors.required">Restaurant name is Required</small>
                <small class="text-danger" *ngIf="restName.errors.pattern">Enter valid Restaurant name</small>
            </div>
        </div>


        <div class="form-group">
            <label for="address"> Restaurant Address<span style="color:red">*</span></label>
            <textarea class="form-control" name="Address" required #address="ngModel" [(ngModel)]="restaurant.address"
                placeholder="Enter Restaurant address" [class.is-invalid]="address.invalid && address.touched">
                            <div *ngIf="address.errors && address.invalid && address.touched">
                                <small class="text-danger" *ngIf="address.errors.required">Restaurant Address is Required</small>
                            </div>       
                        </textarea>
        </div>


        <div class="form-group">
            <label for="phoneNo"> Restaurant Phone Number<span style="color:red">*</span></label>
            <input type="number" class="form-control" placeholder="Enter Contact Details" name="phoneNo"
                [(ngModel)]="restaurant.phoneNo" required pattern="[789][0-9]{9}" required #phoneNo="ngModel"
                [class.is-invalid]="phoneNo.invalid && phoneNo.touched">
            <div *ngIf="phoneNo.errors && phoneNo.invalid && phoneNo.touched">
                <small class="text-danger" *ngIf="phoneNo.errors.required">Restaurant Number is Required</small>
                <small class="text-danger" *ngIf="phoneNo.errors.pattern">Enter valid number</small>
            </div>
        </div>


        <div class="form-group">
            <label for="active"> Restaurant Status<span style="color:red">*</span></label>&nbsp; &nbsp;
            <label><input type=checkbox name=active [(ngModel)]="restaurant.active"> Active</label>
        </div>

    </form>
</div>
<div class="container">
    <label for="openTime"> Opening Time of Restaurant:</label>
    <ngb-timepicker [(ngModel)]="opentime"></ngb-timepicker>
    <hr>
</div>


<div class="container">
    <label for="openTime"> Closing Time of Restaurant:</label>
    <ngb-timepicker [(ngModel)]="closetime"></ngb-timepicker>
    <hr>
</div>
<button [disabled]="Registerform.form.invalid" type="submit" (click)="onSubmit()" class="btn btn-info">Submit</button>

<div class="row" *ngIf="submitted">
    <div class="col-xs-12">
        <p class="alert alert-success">
            <strong>Submitted Successfully</strong>
        </p>
    </div>
</div>
<!---------------------Form For Upload OR Update the Menu For Specified Restaurant ------------->
<form (ngSubmit)="onUpload()">
    <div class="form-group">
        <label for="active"><span style="color: red;">*</span>Restaurant Menu :-</label>
        <div class="container row">
            <div class="col-md-12">
                <h1>Upload Menu</h1>
                <h3><small class="text-danger">Choose only png , jpg , jpeg image types</small>
                </h3>
            </div>
        </div>
        <hr>
        <div class="container row">
            <div class="col-md-12">
                <div *ngIf=message>{{message}}</div>
            </div>
        </div>
    </div>
    <div class="container row">
        <div class="col-md-6">
            <input type="file" accept="image/*" (change)="ChooseFile($event)" multiple="false" name="name" height="200">
        </div>
        <div class="col-md-6">
            <input type="submit" value="upload">
        </div>
    </div>

    <!---------------------------------Display the Uploaded Menu---------------------------------------->
    <div class="container row"><img [src]="imagePath" style="height: 200px; width: 200px;"></div>
</form>

<br>
<br>
<button (click)="revert()" class="btn btn-primary" style="text-align: center;">Back to Active Restaurants</button><br>