<!-- <h3>&nbsp;&nbsp;&nbsp;Create Restaurant</h3>
<mat-card>
  <mat-card-content>
      <form [formGroup]="restaurantForm" (ngSubmit)="saveRestaurant(restaurantForm.value)">
          <table>

              <tr>
                  <td>
                      <mat-form-field class="demo-full-width">
                        <mat-label>Restaurant Name  <span style="color: red;">*</span> </mat-label>
                          <input matInput placeholder="Enter Restaurant name" formControlName="restname"
                              name="restname">
                      </mat-form-field>
    
                      <div *ngFor="let validation of restname_validation_message.restname">
                          <div *ngIf="restaurantForm.get('restname').hasError(validation.type)
                           && (restaurantForm.get('restname').dirty || restaurantForm.get('restname').touched)"
                              style="color: red;">{{validation.message}}</div>
                      </div>
                  </td> 

              </tr>
              <tr>
                  <td colspan="2">
                      <mat-form-field class="demo-full-width">
                        <mat-label>Restaurant Address  <span style="color: red;">*</span> </mat-label>
                          <textarea matInput placeholder="Enter Restaurant Address" matTextareaAutosize matAutosizeMinRows="2"
                              matAutosizeMaxRows="5" formControlName="restaddress" name="restaddress"></textarea>

                      </mat-form-field>

                      <div *ngFor="let validation of restaddress_validation_message.restaddress">
                          <div *ngIf="restaurantForm.get('restaddress').hasError(validation.type)
                           && (restaurantForm.get('restaddress').dirty || restaurantForm.get('restaddress').touched)" 
                           style="color: red;">
                              {{validation.message}}</div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                   
                      <mat-form-field class="demo-full-width">
                        <mat-label>Restaurant Contact  <span style="color: red;">*</span> </mat-label>
                          <input matInput placeholder="Enter Contact Number" class="form-control" formControlName="restphone"
                              name="restphone">
                      </mat-form-field>
                      <div *ngFor="let validation of restphone_validation_message.restphone">
                          <div  *ngIf="restaurantForm.get('restphone').hasError(validation.type)
                           && (restaurantForm.get('restphone').dirty || restaurantForm.get('restphone').touched)"
                           style="color: red;">{{validation.message}}</div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                    <b><label>Open Time <span style="color: red;">*</span></label></b>
                    <br>
                      <div class="form-group">
                          <ngb-timepicker [formControlName]="'openTime'"></ngb-timepicker>
                      </div>
                      <div *ngFor="let validation of openTime_validation_message.openTime">
                          <div  *ngIf="restaurantForm.get('openTime').hasError(validation.type)
                           && (restaurantForm.get('openTime').dirty || restaurantForm.get('openTime').touched)"
                           style="color: red;">{{validation.message}}</div>
                      </div>
                  </td>

              </tr>
              <tr>
                  <td>
                    <b><label>Close Time <span style="color: red;">*</span></label></b>
                    <br>
                      <div class="form-group">
                          <ngb-timepicker [formControlName]="'closeTime'"></ngb-timepicker>
                      </div>
                      <div *ngFor="let validation of closeTime_validation_message.closeTime">
                          <div  *ngIf="restaurantForm.get('closeTime').hasError(validation.type)
                           && (restaurantForm.get('closeTime').dirty || restaurantForm.get('closeTime').touched)"
                           style="color: red;">{{validation.message}}</div>
                      </div>
                  </td>

              </tr>
              <tr>
                <td>
                  <b><label>Active  <span style="color: red;">*</span></label></b>
                    <div class="form-group">
                          
                          <input type="checkbox" class="form-control" formControlName="active" name="active"/>
                    </div>
                </td>

            </tr>
              <tr>
                  <td colspan="2">

                  </td>
              </tr>
              <tr>
                  <td colspan="2" class="content-center">
                      <button class="btn btn-dark btn-block">Register</button>
                  </td>
              </tr>
          </table>
      </form>
      <br>
      
  </mat-card-content>
</mat-card>
 -->
<div class="container jumbotron">
    <h2 style="text-align: center;">Add Restaurant</h2>
    <form [formGroup]="restaurantForm" (ngSubmit)="saveRestaurant(restaurantForm.value)">
        <div class="form-group">
            <b><label>Restaurant Name<span style="color: red;">*</span></label></b>
            <input type="text" placeholder="" formControlName="restname" name="restname" class="form-control" />

            <div *ngFor="let validation of restaurantName_validation_message.restname">
                <div *ngIf="restaurantForm.get('restname').hasError(validation.type)
                             && (restaurantForm.get('restname').dirty || restaurantForm.get('restname').touched)"
                    style="color: red;">{{validation.message}}</div>
            </div>
        </div>

        <div class="form-group">
            <b><label>Address<span style="color: red;">*</span></label></b>
            <textarea placeholder="" class="form-control" formControlName="restaddress" name="restaddress"></textarea>


            <div *ngFor="let validation of address_validation_message.restaddress">
                <div *ngIf="restaurantForm.get('restaddress').hasError(validation.type)
                   && (restaurantForm.get('restaddress').dirty || restaurantForm.get('restaddress').touched)"
                    style="color: red;">
                    {{validation.message}}</div>
            </div>
        </div>

        <div class="form-group">
            <b><label>Contact Number<span style="color: red;">*</span></label></b>
            <input type="text" placeholder="" class="form-control" formControlName="restphone" name="restphone">

            <div *ngFor="let validation of phone_no_validation_message.restphone">
                <div *ngIf="restaurantForm.get('restphone').hasError(validation.type)
                             && (restaurantForm.get('restphone').dirty || restaurantForm.get('restphone').touched)"
                    style="color: red;">{{validation.message}}</div>
            </div>
        </div>

        <div class="form-group">
            <b><label>Open Time<span style="color: red;">*</span></label></b>
            <ngb-timepicker [formControlName]="'openTime'" [meridian]="meridian"></ngb-timepicker>
            <div *ngFor="let validation of open_time_validation_message.openTime">
                <div *ngIf="restaurantForm.get('openTime').hasError(validation.type)
                 && (restaurantForm.get('openTime').dirty || restaurantForm.get('openTime').touched)"
                    style="color: red;">{{validation.message}}</div>
            </div>
        </div>
        <div class="form-group">
            <b><label>Close Time<span style="color: red;">*</span></label></b>
            <ngb-timepicker [formControlName]="'closeTime'" [meridian]="meridian"></ngb-timepicker>
            <div *ngFor="let validation of close_time_validation_message.closeTime">
                <div *ngIf="restaurantForm.get('closeTime').hasError(validation.type)
                 && (restaurantForm.get('closeTime').dirty || restaurantForm.get('closeTime').touched)"
                    style="color: red;">{{validation.message}}</div>
            </div>
        </div>
        <div class="form-group">
            <b><label>Dining<span style="color: red;">*</span></label></b>
            <input type="checkbox" class="form-control" formControlName="dining" name="dining" />
        </div>
        <div class="form-group">
            <b><label>Take a way<span style="color: red;">*</span></label></b>
            <input type="checkbox" class="form-control" formControlName="takeaway" name="takeaway" />
        </div>
        <div class="form-group">
            <b><label>Home Delivery <span style="color: red;">*</span></label></b>
            <input type="checkbox" class="form-control" formControlName="homedelivery" name="homedelivery" />
        </div>

        <button type="submit" [disabled]="restaurantForm.invalid" class="btn btn-dark" value="Check"
            translate="">Register</button>&nbsp;&nbsp;
    </form>
    <br>
    <br>
    <form class="example-form" [formGroup]="menuForm" (ngSubmit)="updateImage(menuForm.value)">
        <input type="file" (change)="onChange($event)" multiple="false" name="select file" style="width: 210px;"
            accept=".png,.jpg,.jpeg,.jfif" />
        &nbsp;&nbsp;&nbsp;<span style="color: red;">*Choose only png , jpg , jpeg image types</span>
        <br>
        <br>
        <input type="text" formControlName="menu" name="Enter Menu Type" id="">

        <button type="submit" class="btn btn-dark" translate="">Upload</button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-dark" (click)="close()" translate="">Save</button>
    </form>
    <br />

</div>
