<header>
  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <!-- <div class="col-md-3">
          <div class="header-logo">
            <a routerLink="/" class="logo">
              <img src="../../../assets/ZonionsLogo.jpg" alt="">
            </a>
          </div>
        </div> -->
        <!-- /LOGO -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
    <div id="app">
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="col-md-3">
          <div class="header-logo">
            <a routerLink="/" class="logo">
              <img src="../../../assets/ZonionsLogo.jpg" alt="">
            </a>
          </div>
        </div>
        <a href="#" class="navbar-brand" style="font-size: 50px;letter-spacing: 30px;">&nbsp;&nbsp;&nbsp;ZONIONS</a>
       
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item" *ngIf="showHomeBoard">
            <a href="/home" class="nav-link" routerLink="home">Active Restaurants </a>
          </li>
          <li class="nav-item" *ngIf="showCreateBoard">
            <a href="/create" class="nav-link" routerLink="create">Add Restaurant</a>
          </li>
          <li class="nav-item" *ngIf="showListBoard">
            <a href="/restaurants" class="nav-link" routerLink="restaurants">Restaurants</a> 
          </li>
          <li class="nav-item">
            <a href="/user" class="nav-link" *ngIf="user" routerLink="user">User</a>
          </li>
        </ul>
    
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item" style="font-size: 24px;">
            <a href="/register" class="nav-link" routerLink="register"><i class="fa fa-users">{{'Register' |translate}}</i></a>
          </li>
          <li class="nav-item" style="font-size: 24px;">
            <a href="/login" class="nav-link" routerLink="login"><i class="fa fa-sign-in" aria-hidden="true">{{'Login' |translate}}</i></a>
          </li>
        </ul>
        <div style="color: bisque;">Select Language:
          <select (change)="useLang($event.target.value)">
            <option *ngFor="let item of supportLanguages" [value]="item">{{item}}</option>
          </select></div>
        
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile"><i class="fas fa-user-shield">{{ username }}</i></a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt">Logout</i></a>
          </li>
        </ul>
      </nav>
      
       <div class="container">
        <router-outlet></router-outlet>
      </div> 
    </div>
  
  </div>
  <!-- /MAIN HEADER -->
</header>

  
