<!-- <form #Registerform="ngForm" (ngSubmit)="createRestaurant()">
  <div class="form-group">
      <label for="restname"><span style="color: red;">*</span>Restaurant name:</label>
    <input type="text" placeholder="Enter Restaurant Name" name="restname" class="form-control" [(ngModel)]="restaurant.restname" required pattern="[A-Za-z0-9]+" required #restoname="ngModel"
    [class.is-invalid]="restoname.invalid && restoname.touched" required>
    <div *ngIf="restoname.errors && restoname.invalid && restoname.touched">
      <small class="text-danger" *ngIf="restoname.errors.required">Restaurant name is Required field</small>
      <small class="text-danger" *ngIf="restoname.errors.pattern">Special Characters Not Allowed Please Enter
          Correct Restaurantname</small>
    </div>
  </div>

    <div class="form-group">
      <label for="restaddress"><span style="color: red;">*</span>Restaurant Address:</label>
      <textarea class="form-control" name="Addr" required #restoaddress="ngModel"
          [(ngModel)]="restaurant.restaddress" placeholder="Enter Restaurant address"
          [class.is-invalid]="restoaddress.invalid && restoaddress.touched"></textarea>
      <div *ngIf="restoaddress.errors && restoaddress.invalid && restoaddress.touched">
          <small class="text-danger" *ngIf="restoaddress.errors.required">Restaurant Address is Required
              field</small>
      </div>
  </div>

    <div class="form-group">
      <label for="restphone"><span style="color: red;">*</span>Restaurant Phone Number:</label>
      <input type="text" placeholder="Enter Restaurant Number" name="restphone" class="form-control" [(ngModel)]="restaurant.restphone" required pattern="[789][0-9]{10}"  required #restophone="ngModel"
      [class.is-invalid]="restophone.invalid && restophone.touched" required>
      <div *ngIf="restophone.errors && restophone.invalid && restophone.touched">
          <small class="text-danger" *ngIf="restophone.errors.required">Restaurant Number is Required
              field</small>
          <small class="text-danger" *ngIf="restophone.errors.pattern">Only 10 Digits Allowed It Should Start With
              Digit(7/8/9) Please Correct valid Restaurant Number</small>
      </div>
    </div>

    <div class="form-group">
      <label for="openTime"><span style="color: red;">*</span>Timing for opening of Restaurant:</label>
      <input type="time" name="appt" class="form-control" min="09:00" max="18:00" [(ngModel)]="restaurant.openTime">
    </div>

    <div class="form-group">
      <label for="closeTime"><span style="color: red;">*</span>Timing for closing of Restaurant:</label>
      <input type="time" name="appt" class="form-control" min="09:00" max="18:00" [(ngModel)]="restaurant.closeTime" >
    </div>

    <div class="form-group">
      <label for="active"><span style="color: red;">*</span>Restaurant Status :-</label>
      <input type="checkbox" name="active" class="form-control" min="09:00" max="18:00" [(ngModel)]="restaurant.active" >
    </div>

  <div class="form-group">
    <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-dark btn-block">Register</button>
  </div>
</form> -->
<h3>&nbsp;&nbsp;&nbsp;Create Restaurant</h3>
<mat-card>
  <mat-card-content>
      <form [formGroup]="restaurantForm" (ngSubmit)="saveRestaurant(restaurantForm.value)">
          <table>

              <tr>
                  <td>
                   <!--  <b><label>Restaurant Name<span style="color: red;">*</span></label></b>
                    <br> -->
                      <mat-form-field class="demo-full-width">
                        <mat-label>Restaurant Name  <span style="color: red;">*</span> </mat-label>
                          <input matInput placeholder="Enter Restaurant name" formControlName="restname"
                              name="restname">
                      </mat-form-field>
    
                      <div *ngFor="let validation of restname_validation_message.restname">
                          <div *ngIf="restaurantForm.get('restname').hasError(validation.type)
                           && (restaurantForm.get('restname').dirty || restaurantForm.get('restname').touched)"
                              style="color: red;">{{validation.message}}</div>
                      </div>
                  </td> 

              </tr>
              <tr>
                  <td colspan="2">
                    <!-- <b><label>Restaurant Address<span style="color: red;">*</span></label></b>
                    <br> -->
                      <mat-form-field class="demo-full-width">
                        <mat-label>Restaurant Address  <span style="color: red;">*</span> </mat-label>
                          <textarea matInput placeholder="Enter Restaurant Address" matTextareaAutosize matAutosizeMinRows="2"
                              matAutosizeMaxRows="5" formControlName="restaddress" name="restaddress"></textarea>

                      </mat-form-field>

                      <div *ngFor="let validation of restaddress_validation_message.restaddress">
                          <div *ngIf="restaurantForm.get('restaddress').hasError(validation.type)
                           && (restaurantForm.get('restaddress').dirty || restaurantForm.get('restaddress').touched)" 
                           style="color: red;">
                              {{validation.message}}</div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                    <!-- <b><label>Restaurant Contact<span style="color: red;">*</span></label></b>
                    <br> -->
                      <mat-form-field class="demo-full-width">
                        <mat-label>Restaurant Contact  <span style="color: red;">*</span> </mat-label>
                          <input matInput placeholder="Enter Contact Number" class="form-control" formControlName="restphone"
                              name="restphone">
                      </mat-form-field>
                      <div *ngFor="let validation of restphone_validation_message.restphone">
                          <div  *ngIf="restaurantForm.get('restphone').hasError(validation.type)
                           && (restaurantForm.get('restphone').dirty || restaurantForm.get('restphone').touched)"
                           style="color: red;">{{validation.message}}</div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                    <b><label>Open Time <span style="color: red;">*</span></label></b>
                    <br>
                      <div class="form-group">
                          <ngb-timepicker [formControlName]="'openTime'"></ngb-timepicker>
                      </div>
                      <div *ngFor="let validation of openTime_validation_message.openTime">
                          <div  *ngIf="restaurantForm.get('openTime').hasError(validation.type)
                           && (restaurantForm.get('openTime').dirty || restaurantForm.get('openTime').touched)"
                           style="color: red;">{{validation.message}}</div>
                      </div>
                  </td>

              </tr>
              <tr>
                  <td>
                    <b><label>Close Time <span style="color: red;">*</span></label></b>
                    <br>
                      <div class="form-group">
                          <ngb-timepicker [formControlName]="'closeTime'"></ngb-timepicker>
                      </div>
                      <div *ngFor="let validation of closeTime_validation_message.closeTime">
                          <div  *ngIf="restaurantForm.get('closeTime').hasError(validation.type)
                           && (restaurantForm.get('closeTime').dirty || restaurantForm.get('closeTime').touched)"
                           style="color: red;">{{validation.message}}</div>
                      </div>
                  </td>

              </tr>
              <tr>
                <td>
                  <b><label>Active  <span style="color: red;">*</span></label></b>
                    <div class="form-group">
                          <mat-checkbox class="example-margin" formControlName="active" name="active"></mat-checkbox>
                    </div>
                </td>

            </tr>
              <tr>
                  <td colspan="2">

                  </td>
              </tr>
              <tr>
                  <td colspan="2" class="content-center">
                      <button class="btn btn-dark btn-block">Register</button>
                  </td>
              </tr>
          </table>
      </form>
      <br>
      
  </mat-card-content>
</mat-card>
