<form #Registerform="ngForm" (ngSubmit)="createRestaurant()">
  <div class="form-group">
      <label for="restname"><span style="color: red;">*</span>Restaurant name:</label>
    <input type="text" placeholder="Enter Restaurant Name" name="restname" class="form-control" [(ngModel)]="restaurant.restname" required pattern="[A-Za-z0-9]+" required #restoname="ngModel"
    [class.is-invalid]="restoname.invalid && restoname.touched" required>
    <div *ngIf="restoname.errors && restoname.invalid && restoname.touched">
      <small class="text-danger" *ngIf="restoname.errors.required">Restaurant name is Required field</small>
      <small class="text-danger" *ngIf="restoname.errors.pattern">Special Characters Not Allowed Please Enter
          Correct Restaurantname</small>
    </div>
  </div>

    <div class="form-group">
      <label for="restaddress"><span style="color: red;">*</span>Restaurant Address:</label>
      <textarea class="form-control" name="Addr" required #restoaddress="ngModel"
          [(ngModel)]="restaurant.restaddress" placeholder="Enter Restaurant address"
          [class.is-invalid]="restoaddress.invalid && restoaddress.touched"></textarea>
      <div *ngIf="restoaddress.errors && restoaddress.invalid && restoaddress.touched">
          <small class="text-danger" *ngIf="restoaddress.errors.required">Restaurant Address is Required
              field</small>
      </div>
  </div>

    <div class="form-group">
      <label for="restphone"><span style="color: red;">*</span>Restaurant Phone Number:</label>
      <input type="text" placeholder="Enter Restaurant Number" name="restphone" class="form-control" [(ngModel)]="restaurant.restphone" required pattern="[789][0-9]{10}"  required #restophone="ngModel"
      [class.is-invalid]="restophone.invalid && restophone.touched" required>
      <div *ngIf="restophone.errors && restophone.invalid && restophone.touched">
          <small class="text-danger" *ngIf="restophone.errors.required">Restaurant Number is Required
              field</small>
          <small class="text-danger" *ngIf="restophone.errors.pattern">Only 10 Digits Allowed It Should Start With
              Digit(7/8/9) Please Correct valid Restaurant Number</small>
      </div>
    </div>

    <div class="form-group">
      <label for="openTime"><span style="color: red;">*</span>Timing for opening of Restaurant:</label>
      <input type="time" name="appt" class="form-control" min="09:00" max="18:00" [(ngModel)]="restaurant.openTime">
    </div>

    <div class="form-group">
      <label for="closeTime"><span style="color: red;">*</span>Timing for closing of Restaurant:</label>
      <input type="time" name="appt" class="form-control" min="09:00" max="18:00" [(ngModel)]="restaurant.closeTime" >
    </div>

    <div class="form-group">
      <label for="active"><span style="color: red;">*</span>Restaurant Status :-</label>
      <input type="checkbox" name="active" class="form-control" min="09:00" max="18:00" [(ngModel)]="restaurant.active" >
    </div>

  <div class="form-group">
    <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-dark btn-block">Register</button>
  </div>
</form>