<!-- <h3>&nbsp;&nbsp;&nbsp;Update Restaurant</h3>

<mat-card>
    <mat-card-content>
        <form #Updateform="ngForm" (ngSubmit)="updateRestaurant()">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Restaurant name <span style="color: red;">*</span></mat-label>
                            <input matInput placeholder="Enter Restaurant Name" name="restnm"
                                [(ngModel)]="restaurant.restname" required pattern="[A-Za-z0-9]+" required
                                #restoname="ngModel" [class.is-invalid]="restoname.invalid && restoname.touched">
                        </mat-form-field>
                        <div *ngIf="restoname.errors && restoname.invalid && restoname.touched">
                            <small class="text-danger" *ngIf="restoname.errors.required">Restaurant name is Required
                                field</small>
                            <small class="text-danger" *ngIf="restoname.errors.pattern">Special Characters Not Allowed
                                Please Enter
                                Correct Restaurantname</small>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>

                        <mat-form-field class="demo-full-width">
                            <mat-label>Restaurant Address <span style="color: red;">*</span> </mat-label>
                            <textarea matInput name="Addr" required #restoaddress="ngModel"
                                [(ngModel)]="restaurant.restaddress" placeholder="Enter Restaurant address"
                                [class.is-invalid]="restoaddress.invalid && restoaddress.touched"></textarea>
                        </mat-form-field>
                        <div *ngIf="restoaddress.errors && restoaddress.invalid && restoaddress.touched">
                            <small class="text-danger" *ngIf="restoaddress.errors.required">Restaurant Address is
                                Required
                                field</small>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>

                        <mat-form-field class="demo-full-width">
                            <mat-label>Restaurant Contact <span style="color: red;">*</span> </mat-label>
                            <input matInput placeholder="Enter Restaurant Number" name="restph"
                                [(ngModel)]="restaurant.restphone" required pattern="[789][0-9]{10}" required
                                #restophone="ngModel" [class.is-invalid]="restophone.invalid && restophone.touched">
                        </mat-form-field>
                        <div *ngIf="restophone.errors && restophone.invalid && restophone.touched">
                            <small class="text-danger" *ngIf="restophone.errors.required">Restaurant Number is Required
                                field</small>
                            <small class="text-danger" *ngIf="restophone.errors.pattern">Only 10 Digits Allowed It
                                Should Start With
                                Digit(7/8/9) Please Correct valid Restaurant Number</small>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <b><label>Open Time <span style="color: red;">*</span></label></b>
                        <div class="form-group">
                            <input type="time" name="appt" class="form-control" [(ngModel)]="restaurant.openTime">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <b><label>Close Time <span style="color: red;">*</span></label></b>
                        <div class="form-group">
                            <input type="time" name="appt" class="form-control" [(ngModel)]="restaurant.closeTime">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <b><label>Active <span style="color: red;">*</span></label></b>
                        <div class="form-group">
                            <input type="checkbox" name="active" class="form-control" min="09:00" max="18:00"
                                [(ngModel)]="restaurant.active">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form (ngSubmit)="UploadMenu()">
                            <b><label for="active">Restaurant Menu <span style="color: red;">*</span></label></b>
                            <div class="form-group">
                                <div class="container row">
                                    <div class="col-md-12">
                                        <h1>Upload Menu</h1>
                                        <h3><small class="text-danger">Choose only png , jpg , jpeg image types</small>
                                        </h3>
                                    </div>
                                </div>
                                <hr>
                                <div class="container row">
                                    <div class="col-md-12">
                                        <div *ngIf=message>{{message}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="container row">
                                <div class="col-md-6">
                                    <input type="file" accept="image/*" (change)="ChooseFile($event)" multiple="false"
                                        name="name" height="200">
                                </div>
                                <br>
                                <br>
                                <div class="col-md-7">
                                    <input type="submit" value="upload" id="uploaded">
                                </div>

                                <br>
                            </div>
                            <br>
                            <br>

                            <div class="container row"><img [src]="imagePath" style="height: 200px; width: 200px;">
                            </div>
                        </form>
                    </td>
                </tr>
                <br>
                <br>
                <tr>
                    <td>
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark btn-block">Update</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>

    </mat-card-content>
</mat-card> -->

<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Restaurant</h4>
    
</div>
<div class="modal-body">
        <form  #updateForm="ngForm" (ngSubmit)="onSubmit()">
            <br>
        <div class="form-group">
            <b><label >Restaurant Name<span style="color: red;">*</span></label></b>
            <input type="text" placeholder="Enter restaurant name" required name="restoName"[(ngModel)]="restaurant.restname" class="form-control"/>
        </div>
        <div class="form-group">
            <b><label >Address<span style="color: red;">*</span></label></b>
            <textarea placeholder="enter address" class="form-control" name="Address" [(ngModel)]="restaurant.restaddress"></textarea>
        </div>
        <div class="form-group">
            <b><label >Contact Number<span style="color: red;">*</span></label></b>
            <input type="text" placeholder="Enter phone no." name="phone"class="form-control" [(ngModel)]="restaurant.restphone">
        </div>
        <div class="form-group">
            <b><label >Open Time</label></b>
            <ngb-timepicker  name="openTime" [(ngModel)]="open_Time" [meridian]="meridian"></ngb-timepicker>
        </div>
        <div class="form-group">
            <b><label >Close Time</label></b>
            <ngb-timepicker  name="closeTime" [(ngModel)]="close_Time" [meridian]="meridian"></ngb-timepicker>
        </div>
        <br/>
        <div *ngFor="let url of urlArray">
            <img [src]="url" height="100px" width="100px"/>&nbsp;
            <input type="file" (change)="onChange($event)" multiple="false" name="select file"
               style="width: 210px;" accept=".png,.jpg,.jpeg,.jfif" />
           &nbsp;&nbsp;&nbsp;<span style="color: red;">*Choose only png , jpg , jpeg image types</span>
          <!--  <input type="text" formControlName="menu"  name="Enter Menu Type" id=""> -->
          &nbsp;&nbsp;
           <button type="submit" class="btn btn-dark" (click)="updateImage()" translate="">Upload</button>
           &nbsp;&nbsp;&nbsp;
           </div>
           <br>
           <br>
        <div>
            <button type="submit" [disabled]="updateForm.invalid" class="btn btn-dark" >Update</button>
        </div>
        <br>
    </form>
    <br/>
</div>
