<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__copyright">
			{{today | date:'yyyy'}}&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">Zonions</a>
		</div>
		<div class="kt-footer__menu">
			<span class="copyright">
				Copyright &copy;<script>document.write(new Date().getFullYear());</script>All rights reserved By Zonions | Zonions Web App Interface For Restaurant Information<i class="fa fa-heart-o" aria-hidden="true"></i>
				</span>
		</div>
	</div>
</div>
<!-- end:: Footer -->
