<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-light">
  <ul class="navbar-nav">
    <ng-template>
      <button style="font-weight: bolder" (click)="Login()" class="btn btn-light">Login</button>
    </ng-template>
  </ul>
    <h1 style="margin-left: 450px; font-size: 30px;color: cornsilk;">Active Restaurant List</h1>
</nav>
<br>
<br>
<table class="styled-table">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Address</th>
            <th>Contact Number</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let r of restaurants | async">
            <tr *ngIf="r.active==true" class="tr">
                <td style="color: black;font-size: 14px;">{{r.restname}}</td>
                <td style="color: black;font-size: 14px;">{{r.restaddress}}</td>
                <td style="color: black;font-size: 14px;">{{r.restphone}}</td>
                <td>
                    <button (click)="restaurantDetails()" class="btn btn-outline-dark" style="margin-left: 10px">More
                        Details</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-light" >
  <!-- Links -->
  <ul class="navbar-nav">
      <button style="font-weight: bolder" (click)="Login()" class="btn btn-light">Login</button>
  </ul>
</nav>
<div [ngStyle]="{backgroundImage:'url(./assets/Rest3.jpg)'}" style="size: 45px;">
  <br>
  <h1
    style="text-align: center;color: rgb(225, 237, 255);background-color: rgb(43, 48, 54);font-family:'Courier New', Courier, monospace;font: bolder;font-size: 35px;">
    <u>Welcome To Zonions</u>
  </h1>
  <hr>
  <div class="card">
    <div class="card-body">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 style="margin-left: 450px; font-size: 25px;color: rgb(35, 56, 75);">Active Restaurant List</h1>
        </div>
        <div class="panel-body">
          <table class="table" style="margin-right: 20px;margin-left: 20px; min-width: 1200px;">
            <thead>
              <tr class="danger">
                <th style="font-size: 18px;color: rgb(35, 56, 75);"><u>Restaurant Name</u></th>
                <th style="font-size: 18px;color: rgb(35, 56, 75);"><u>Address</u></th>
                <th style="font-size: 18px;color: rgb(35, 56, 75);"><u>Contact Number</u></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let r of restaurants | async">
                <tr *ngIf="r.active==true" class="tr">
                  <td style="font:bolder;font-size: 16px;color: rgb(35, 56, 75);">{{r.restname}}</td>
                  <td style="font:bolder;font-size: 16px;color: rgb(35, 56, 75);">{{r.restaddress}}</td>
                  <td style="font:bolder;font-size: 16px;color: rgb(35, 56, 75);">{{r.restphone}}</td>
                  <td>
                    <button (click)="restaurantDetails()" class="btn btn-outline-dark"
                      style="margin-left: 400px">Restaurant
                      Details</button> <!-- Show all Restaurants Details -->
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
<br>
</div>
<kt-footer></kt-footer>
