<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="../../../assets/ZonionsLogo.jpg" class="profile-img-card" />
    <!-- Select Language:
    <select (change)="useLang($event.target.value)">
      <option *ngFor="let item of supportLanguages" [value]="item">{{item}}</option>
    </select> -->
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">{{'Username' | translate}}</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
          maxlength="20" #username="ngModel" />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">{{'Username is required' |translate}}</div>
          <div *ngIf="username.errors.minlength">
            {{'Username must be at least 3 characters' |translate}}
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">{{'Email' |translate}}</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
          #email="ngModel" />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">{{'Email is required' |translate}}</div>
          <div *ngIf="email.errors.email">
            {{'Email must be a valid email address' |translate}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{'Password' | translate}}</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">{{'Password is required'|translate}}</div>
          <div *ngIf="password.errors.minlength">
            {{'Password must be at least 6 characters' |translate}}
          </div>
        </div>
        <br><br>
        <div class="form-group">
          <select class="form-control" name="role" [(ngModel)]="form.role" #role="ngModel" required>
            <option [ngValue]="null" style="text-align: center;">{{'Select Role' |translate}}</option>
            <option *ngFor="let item of roles" [value]="item">
              <h3>{{item}}</h3>
            </option>
          </select>

          <div *ngIf="role.invalid && role.touched">
            <span style="color: red;">{{'Please Select Role' |translate}}</span>
          </div>
        </div>

      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary btn-block">{{'Sign Up' |translate}}</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        {{'Signup failed' |translate}}<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      {{'Your registration is successful' |translate}}
    </div>
  </div>
</div>