<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Restaurant Details</h2>&nbsp;&nbsp;&nbsp;
    <div *ngIf="timeCounter==false" style="color: green;"><b>Open Now</b></div>
    <div *ngIf="timeCounter" style="color:red;"><b>Closed Now</b></div> 
    <div *ngIf="Dining"  style="margin-left:1010px"><i class="fas fa-check"></i>&nbsp;Dine-in</div>
    <div *ngIf="TakeAWay" style="margin-left:1010px"><i class="fas fa-check"></i>&nbsp;Takeaway</div>
    <div *ngIf="HomeDelivery" style="margin-left:1010px"><i class="fas fa-check"></i>&nbsp;Home delivery</div>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ngx-input-star-rating formControlName="rating"></ngx-input-star-rating>&nbsp;&nbsp;
    <button class="btn btn-outline-dark">Submit</button>
  </form>
<hr>
  <form [formGroup]="imageForm" (ngSubmit)="saveImage(imageForm.value)">
      <b><label>Choose Menu</label></b>

      <mat-select formControlName="menu" placeholder="Select which type of menu you want..">
        <mat-option>-- Select --</mat-option>
                <mat-option  *ngFor="let menu of menuArray" [value]="menu">
                    <label for="">{{menu | uppercase}}</label>
                </mat-option>

      </mat-select>
      <br>
      <br>
      <button class="btn btn-outline-dark">Get Menu</button>
    </form>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr class="danger">
          <th style="font-size: 16px;color: rgb(35, 56, 75);">Restaurant Name</th>
          <th style="font-size: 16px;color: rgb(35, 56, 75);">Restaurant Address</th>
          <th style="font-size: 16px;color: rgb(35, 56, 75);">Restaurant Contact Number</th>
          <th style="font-size: 16px;color: rgb(35, 56, 75);">Restaurant Open Time</th>
          <th style="font-size: 16px;color: rgb(35, 56, 75);">Restaurant Close Time</th>
          <th style="font-size: 16px;color: rgb(35, 56, 75);">Restaurant Menu</th>
        </tr>
      </thead>
      <tbody>
        <td style="font-size: 14px;color: rgb(35, 56, 75);">
          <kt-fetch-more
          [content]="rest.restname"
          [limit]="6"
          [completeWords]="false"
          matTooltip="{{rest.restname}}"
        ></kt-fetch-more>
        </td>
        <td style="font-size: 14px;color: rgb(35, 56, 75);">{{rest.restaddress}}</td>
        <td style="font-size: 14px;color: rgb(35, 56, 75);">{{rest.restphone}}</td>
        <td style="font-size: 14px;color: rgb(35, 56, 75);">{{rest.openTime | conversionTime}}</td>
        <td style="font-size: 14px;color: rgb(35, 56, 75);">{{rest.closeTime | conversionTime}}</td>
        <td><img [src]="imagePath" style="height: 350px; width: 350px;"></td>
      </tbody>
    </table>
    
  </div>
</div>

<br>
<br>

<button type="button" (click)="home()" class="btn btn-dark">Back</button>&nbsp;
<br>
<br>

<button (click)="bookTable()" class="btn btn-dark btn-block">Book Table</button>
 