<nav class="navbar navbar-expand-sm bg-dark navbar-light">

  <ul class="navbar-nav">
    <button style="font-weight: bolder" (click)="Login()" class="btn btn-light">Login</button>
  </ul>
  <ul class="navbar-nav">
    <button class="btn btn-light" igxRipple="white" (click)="openDialog()"
      style="font-weight: bolder;margin-left:1130px">Help</button>
    <div igxOverlayOutlet>

      <igx-dialog #dialog1 message="Plese mail your query on zonions@gmail.com">
        <igx-dialog-title>
          <div class="dialog-container">
            <igx-icon>account_box</igx-icon>
            <div class="dialog-title">Always Happy To Help You.</div>
          </div>
        </igx-dialog-title>
        <div igxDialogActions class="dialog-container dialog-actions">
          <button igxButton="raised" igxRipple="white" (click)="dialog.close()">OK</button>
        </div>
      </igx-dialog>
    </div>

  </ul>
</nav>

<div [ngStyle]="{backgroundImage:'url(./assets/Rest3.jpg)'}" style="size: 45px;">
  <br>
  <h1
    style="text-align: center;color: rgb(225, 237, 255);background-color: rgb(43, 48, 54);font-family:'Courier New', Courier, monospace;font: bolder;font-size: 35px;">
    <img src="./assets/media/logos/ZonionsLogo2.jpg" alt="">
  </h1>

  <hr>
  <div class="card">
    <div class="card-body">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 style="margin-left: 500px; font-size: 25px;color: rgb(35, 56, 75);">Active <b>Restaurants</b></h1>
          <div class="kt-header__topbar">Choose Language :<kt-language></kt-language>
          </div>
        </div>
        <br>

        <div class="panel-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <kt-footer-bar></kt-footer-bar>
</div>
<!-- <router-outlet></router-outlet> -->
