<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-light">

  <ul class="navbar-nav">
    <button style="font-weight: bolder" (click)="Login()" class="btn btn-light">Login</button>
  </ul>
  <ul class="navbar-nav">
    <button class="btn btn-light" igxRipple="white" (click)="openDialog()"
      style="font-weight: bolder;margin-left:1130px">Help</button>
    <div igxOverlayOutlet>

      <igx-dialog #dialog1 message="Plese mail your query on zonions@gmail.com">
        <igx-dialog-title>
          <div class="dialog-container">
            <igx-icon>account_box</igx-icon>
            <div class="dialog-title">Always Happy To Help You.</div>
          </div>
        </igx-dialog-title>
        <div igxDialogActions class="dialog-container dialog-actions">
          <button igxButton="raised" igxRipple="white" (click)="dialog.close()">OK</button>
        </div>
      </igx-dialog>
    </div>

  </ul>
</nav> -->

<!-- <div [ngStyle]="{backgroundImage:'url(./assets/Rest3.jpg)'}">
  <br>
  <br>
  <h1 style="text-align: center;">
    <img src="./assets/media/logos/ZonionsLogo2.jpg" alt="">
  </h1>

  <hr>
  <br> -->
  
 <!--  <div class="card">
    <div class="card-body">
      <div class="panel panel-primary">
        <br>
        <div ngbDropdown class="d-inline-block">
          <label for=""><input [(ngModel)]="input" autocomplete="off" style="margin-left: 30px;" id="search" class=""
              size="14" ngbDropdownToggle></label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button (click)="searchLocation()" style="font-size: 10px;" class="btn"><i class="fa fa-search"
              aria-hidden="true"></i>
          </button>
        </div>
       
      </div>
    </div>
  </div> -->
  <kt-homepage></kt-homepage>
  <router-outlet></router-outlet> 
  <kt-food-material></kt-food-material>
  
  <div class="content">
    <mat-card class="mat-elevation-z4" *ngFor="let r of restaurantData">
      <mat-card-header style="margin-left: 60px;">
        <mat-card-title>{{r.restname}}</mat-card-title>
      </mat-card-header>
      <div>
        <img mat-card-image [src]="menuUrl">
      </div>
  
      <mat-card-actions style="margin-left: 30px;">
        <button mat-button (click)="restaurantDetails(r.restid)">Restaurant Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
<kt-footer-bar></kt-footer-bar>
<!-- <router-outlet></router-outlet> -->