
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Restaurant</h4>
    
</div>
<div class="modal-body">
        <form  #updateForm="ngForm" (ngSubmit)="onSubmit()">
            <br>
        <div class="form-group">
            <b><label >Restaurant Name<span style="color: red;">*</span></label></b>
            <input type="text" placeholder="Enter restaurant name" required name="restoName"[(ngModel)]="restaurant.restname" class="form-control"/>
        </div>
        <div class="form-group">
            <b><label >Address<span style="color: red;">*</span></label></b>
            <textarea placeholder="enter address" class="form-control" name="Address" [(ngModel)]="restaurant.restaddress"></textarea>
        </div>
        <div class="form-group">
            <b><label >Contact Number<span style="color: red;">*</span></label></b>
            <input type="text" placeholder="Enter phone no." name="phone"class="form-control" [(ngModel)]="restaurant.restphone">
        </div>
        <div class="form-group">
            <b><label >Open Time</label></b>
            <ngb-timepicker  name="openTime" [(ngModel)]="open_Time" [meridian]="meridian"></ngb-timepicker>
        </div>
        <div class="form-group">
            <b><label >Close Time</label></b>
            <ngb-timepicker  name="closeTime" [(ngModel)]="close_Time" [meridian]="meridian"></ngb-timepicker>
        </div>
        <br/>
        <div *ngFor="let url of urlArray">
            <img [src]="url" height="100px" width="100px"/>&nbsp;
            <input type="file" (change)="onChange($event)" multiple="false" name="select file"
               style="width: 210px;" accept=".png,.jpg,.jpeg,.jfif" />
           &nbsp;&nbsp;&nbsp;<span style="color: red;">*Choose only png , jpg , jpeg image types</span>
          <!--  <input type="text" formControlName="menu"  name="Enter Menu Type" id=""> -->
          &nbsp;&nbsp;
           <button type="submit" class="btn btn-dark" (click)="updateImage()" translate="">Upload</button>
           &nbsp;&nbsp;&nbsp;
           </div>
           <br>
           <br>
        <div>
            <button type="submit" [disabled]="updateForm.invalid" class="btn btn-dark" >Update</button>
        </div>
        <br>
    </form>
    <br/>
</div>
